
html {
  height: 100%;
}

body {
  height: 100%;
}

.fieldcontainer {
  border: black;
  float: left;
  min-width: 375px;
  width: 65%;
}

.home {
  height: 100%;
}

.infocontainer {
  float: left;
  border: black;
}

.leftspace {
  float: left;
  min-width: 3%;
  width: 20%;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.pagecontainer {
  height: 100%;
}

.total-screen {
  min-height: 100%;
}
