
html {
  height: 100%;
}

body {
  height: 100%;
}

.fieldbottom {
  box-sizing: content-box;
  border-bottom-style: double;
  border-bottom-width: 3px;
}

.fieldcontainer {
  box-sizing: content-box;
  border-style: double;
  border-width: 3px;
  float: left;
  min-width: 400px;
}

.fieldlayout {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.fieldcolumn {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 99.1%;
  width: 5.22%;
}

.home {
  height: 100%;
}

.infocontainer {
  float: left;
}

.keyInput {
  border-width: 0px;
  height: 0px;
  width: 0px;
}

.leftspace {
  float: left;
  min-width: 3%;
  width: 20%;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.pagecontainer {
  height: 100%;
}

.total-screen {
  min-height: 100%;
}
